#btn{
 background-color: rgb(71, 139, 255);
 border: none;
 color: white;
 border-top-right-radius: 5px;
 border-bottom-right-radius:5px;
 font-size: small;
 height: 32px;
 /* margin-top: 10px; */
 position: relative;
 top:7px
}
#search{
height: 30px;
width: 300px;
background-color: rgb(245, 245, 255);
border-top-left-radius: 5px;
border-bottom-left-radius:5px;
border: none;
}
#btn:hover{
    background-color:  rgb(0, 74, 201);
    cursor: pointer;
}
#searchbar{
    color: rgb(111, 111, 111);
   
}
.navbar-icons{
    color:grey;
    position: absolute;
    left: 1260px;
    top: 20px;
    font-size: 20px;
}
.email{
    position: absolute;
    left: 60px;
    top: 0px;
}
.avatar{
    position: absolute;
    left: 270px;
    top: 0px;
}
.names{
    color:grey;
    position: absolute;
    left: 1400px;
    top: 20px;
    font-size: 20px;
    font-size: medium;
}
.email:hover{
    cursor: pointer;
    color:rgb(88, 88, 88);
}
.notification:hover{
    cursor: pointer;
    color:rgb(88, 88, 88);
}
.sbadmin{
    position: absolute;
    top: 15px;
    font-size:23px;
    left: 35px;
}
.note{
    font-size: 17px;
    padding-left: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 10px;
}
.cardss{
    background-color: white;
    margin: 30px;
    padding: 10px;
    border-radius: 5px;
    width: 353px;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 150px;
    border-left: 6px solid rgb(68, 133, 255);
    box-shadow: 10px 10px 10px rgb(154, 154, 154);
}
.erninigs{
    padding: 0px;
    margin: 0px;
    margin-bottom: -40px;
    color: rgb(68, 133, 255);
}
.calen{
    margin-top: 25px;
    font-size: larger;
    color: grey;
}
.money{
    font-size: 24px;
}
.slider{
    position: relative;
    left: 80px;
    top: -40px;
}
#flex-item{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.dashboard{
    margin-top: 30px;
    margin-left: 50px;
    font-size: 30px;
}
.chart{
    box-shadow: 10px 10px 10px rgb(154, 154, 154);
    margin: 20px;
}
.chartname{
    text-align: center;
    font-size: 20px;
    color: rgb(68, 133, 255);
    background-color: rgb(237, 237, 237);
}
